<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @program.region.name %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @program.department.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @program.city %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @program.adress %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @program.delivery %>
</p>

<p>
  <strong>Bref:</strong>
  <ul>
    <% @program.bref.split("\n").each do | element |  %>
      <li> <%= element %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Strongpoints:</strong>
  <ul>
      <% @program.strongpoints.split("\n").each do | element | %>
        <li> <%= element %> </li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Citydesc:</strong>
  <%= @program.citydesc %>
</p>

<p>
  <strong>Areadesc:</strong>
  <%= @program.areadesc %>
</p>

<p>
  <strong>Proximity:</strong>
  <%= @program.proximity %>
</p>

<p>
  <strong>Tva:</strong>
  <%= @program.tva %>%
</p>

<p>
  <strong>Immediatdelivery:</strong>
  <%= @program.immediatDelivery %>
</p>

<p>
  <strong>New:</strong>
  <%= @program.new %>
</p>

<p>
  <strong>Pricedisplay:</strong>
  <%= @program.pricedisplay %>
</p>


<% if @lots.blank? %>
    <h2>Aucun lot disponilbe pour ce programe </h2>
    <% else %>
        <% @lots.each do | r , i | %>
        <p><%= r.typo %></p>
        <p><%= r.surface %>m2</p>
    <% end %>
<% end %>

<% if @images.blank? %>
    <h2>Aucune images disponibles pour le moment </h2>
    <% else %>
        <% @images.each do | r , i | %>
        <%= image_tag r.image.url class:"img-responsive" %>
        <%= image_tag r.image.thumb.url class:"img-responsive" %>
        <%= image_tag r.image.home.url class:"img-responsive" %>
    <% end %>
<% end %>

<h2>Import Lots</h2>

<%= link_to "Ajouter une image", new_program_image_path(@program)	 %>
<br>
<%= link_to "Uploader un fichier CSV", new_program_list_path(@program)	 %>
<br>
<%= link_to "Ajoute un lot", new_program_lot_path(@program)	 %>
<br>
<%= link_to 'Edit', edit_program_path(@program) %>
<br>
<%= link_to 'Back', programs_path %>
<br>
