<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @program.region.name %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @program.department.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @program.city %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @program.adress %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @program.delivery %>
</p>

<p>
  <strong>Bref:</strong>
  <ul>
    <% @program.bref.split("\n").each do | element |  %>
      <li> <%= element %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Strongpoints:</strong>
  <ul>
      <% @program.strongpoints.split("\n").each do | element | %>
        <li> <%= element %> </li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Citydesc:</strong>
  <%= @program.citydesc %>
</p>

<p>
  <strong>Areadesc:</strong>
  <%= @program.areadesc %>
</p>

<p>
  <strong>Proximity:</strong>
  <%= @program.proximity %>
</p>

<p>
  <strong>Tva:</strong>
  <%= @program.tva %>%
</p>

<p>
  <strong>Immediatdelivery:</strong>
  <%= @program.immediatDelivery %>
</p>

<p>
  <strong>New:</strong>
  <%= @program.new %>
</p>

<p>
  <strong>Pricedisplay:</strong>
  <%= @program.pricedisplay %>
</p>


<% if @lots.blank? %>
    <h2>Aucun lot disponilbe pour ce programe </h2>
    <% else %>
        <% @lots.each do | r , i | %>
        <p><%= r.typo %></p>
        <p><%= r.surface %>m2</p>
    <% end %>
<% end %>
