
<!-- Carroussel -->

<div class="bloc l-bloc bgc-white" id="bloc-1">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<div id="carousel-1" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-1" data-slide-to="0" class="active">
						</li>
						<li data-target="#carousel-1" data-slide-to="1">
						</li>
						<li data-target="#carousel-1" data-slide-to="2">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="img/pers4.jpg" />
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="img/placeholder-image-wide.png" />
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="img/placeholder-image-wide.png" />
							<div class="carousel-caption">
							</div>
						</div>
					</div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
                            <span class="fa fa-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Carroussel -->

<!-- Search bar -->

<div class="bloc bgc-isabelline l-bloc" id="bloc-2">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-sm-12">
                <%= form_tag({controller: "searches", action: "create", method: "post"}, {class: "form-inline"}) do %>
                <div class="form-group">
                    <%= collection_select :department, :department, Department.order(:name), :id, :name, include_blank: 'departement', class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= text_field_tag 'search[city]', "Ville", class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= number_field_tag 'search[price]', "Price", class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= select_tag :typo, options_for_select(['Studio', '2 pièces', '3 pièces', '4 pièces', '5 pièces', '6 pièces et plus']), class:"form-control" %>
                </div>
                <div class="form-group">
                    <%= submit_tag "rechercher", class:"bloc-button btn   btn-block btn-sq btn-white"  %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- Search bar END -->

<!-- Bloc Info-->

<div class="bloc l-bloc bgc-white" id="bloc-3">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="info-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/Capture%20d&rsquo;écran%202016-03-10%20à%2017.11.36.png" class="img-responsive center-block" />
                                    <h4 class="text-center  mg-sm">
                                        <strong>Pressé d&rsquo;emmenager ?</strong>découvrez une sélction de logements<br />prêts-à-vivre
                                    </h4>
                                    <h3 class="tc-outer-space mg-sm text-center">
                                        <strong>2 Pièces à Fresnes <br> 151 000€</strong>
                                    </h3>
                                    <div class="text-center">
                                        <a href="index.html" class="btn  btn-sq btn-maroon-x11">Je découvres les appartements &gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="info-2">
                            <h2 class="text-center  mg-sm ">
                                <strong>Economisez jusqu&rsquo;à 14%</strong>
                            </h2>
                            <h3 class="text-center mg-md tc-outer-space">
                                Du prix de votre logement !
                            </h3><img src="img/Capture%20d&rsquo;écran%202016-03-10%20à%2017.07.16.png" class="img-responsive center-block mg-md" />
                            <div class="text-center">
                                <a href="index.html" class="btn   btn-white btn-sq">Je découvre la TVA réduite &gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info-3">
                            <h2 class=" text-center mg-sm">
                                <strong>Ne payez pas d'impots</strong>
                            </h2>
                            <h3 class="mg-md text-center tc-outer-space">
                                Fonciers pendant 15 ans...
                            </h3><img src="img/Capture%20d&rsquo;écran%202016-03-10%20à%2017.06.58.png" class="img-responsive center-block mg-md" />
                            <div class="text-center">
                                <a href="index.html" class="btn  btn-sq btn-white">Je découvre la prorpiété en accession &gt;</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bloc Fin-->
<!-- Bloc Nouveauté -->

<div class="bloc l-bloc bgc-white" id="bloc-4">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-sm-8">
                <div class="nouveaute">
                    <h3 class="tc-outer-space mg-sm"><strong>  Nouveautés</strong></h3>
                </div>

                <img src="img/Capture%20d&rsquo;écran%202016-03-10%20à%2017.37.13.jpg" class="img-responsive center-block" />
            </div>
            <div class="col-sm-4">
                <h1 class=" mg-sm tc-light-slate-gray">
                    <strong>La propriété,</strong>
                </h1>
                <h3 class="mg-lg ">
                    c&rsquo;est pour moi ?
                </h3>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="img/Calque_132.png" class="center-block" data-placement="bottom" data-toggle="tooltip" height="250" />
                    </div>
                    <div class="col-sm-6">
                        <h5 class=" mg-sm">
                            Quel est le montant<br />de mon prêt à taux zéro?
                        </h5><a href="index.html" class="btn  btn-clean btn-light-slate-gray">Je découvre &gt;</a>
                        <h5 class=" mg-sm">
                            <br />Suis-je éligible<br />à la location-accesion ?
                        </h5><a href="index.html" class="btn  btn-clean btn-light-slate-gray">Je découvre &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bloc Fin-->

<!-- Être rappelé / Formulaire caché  -->

<div class="row">
    <div class="col-sm-4" >
        <% f = form_tag(controller: "callbacks", action: "create", method: "post") do %>
        <h1>Etre rappelé</h1>
        <div class="form-group">
            <%= select_tag 'callback[civilite]', options_for_select(['Monsieur', 'Madame']), class:"form-control" %>
        </div>
        <div class="form-group">
            <%= text_field_tag 'callback[nom]', "Nom", class:"form-control" %>
        </div>
        <div class="form-group">
            <%= text_field_tag 'callback[prenom]', "Prenom", class:"form-control" %>
        </div>
        <div class="form-group">
            <%= number_field_tag 'callback[phone]', "Phone", class:"form-control" %>
        </div>
        <div class="form-group">
            <%= text_field_tag 'callback[email]', "Email", class:"form-control" %>
        </div>
        <div class="form-group">
            <%= time_field_tag 'callback[time]', "Heure", class:"form-control" %>
        </div>
        <%= submit_tag "Être rappelé", class:"bloc-button"  %>
        <% end %>
    </div>
</div>
<!--  Fin-->

<!-- Être rappelé / Formulaire Apparent  -->

<div class="bloc bgc-isabelline l-bloc" id="bloc-5">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="tc-light-slate-gray mg-clear">
                                    <strong>Nos consillers sont dabord là<br />pour vous accompagner</strong>
                                </h2>
                                <h4 class="mg-md tc-outer-space">
                                    Des informations, une simulation de financement ?<br />c'est gratuit et ça peut rapporter la propriété !
                                </h4>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fa fa-table icon-round icon-md pull-left icon-outer-space"></span>
                                        <h4 class="tc-outer-space mg-sm text-left">
                                            <strong>Prendre<br />rendez-vous &gt;</strong>
                                        </h4>
                                        <h5 class="mg-md">
                                            En bureau de vente
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="fa fa-phone icon-round icon-md pull-left"></span>
                                        <h4 class="tc-outer-space mg-sm text-left">
                                            <%= content_tag :a, "Être rappelé > ", href: "#modal", data: {toggle: 'modal'} %>
                                        </h4>
                                        <h5 class="mg-md text-left">
                                            par un conseiller
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Etre rappelé Fin-->

<!-- Reseaux Sociaux -->
<div class="bloc l-bloc bgc-white" id="bloc-6">
    <div class="container bloc-md">
        <div class="row">
            <div class="col-sm-3">
                <h2 class=" text-center mg-sm">
                    <strong>Retrouvez-nous</strong>
                </h2>
                <h4 class=" text-center mg-lg">
                    Sur les reseaux sociaux
                </h4>
                <div class="row">
                    <div class="col-sm-6">
                        <span class="et-icon-facebook pull-left icon-xl icon-light-slate-gray"></span>
                    </div>
                    <div class="col-sm-6">
                        <span class="et-icon-twitter pull-left icon-xl icon-light-slate-gray"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h2 class=" mg-sm">
                    <strong>Plus de 10 000 familles</strong>
                </h2>
                <h4 class=" text-center mg-lg">
                    Déjà propriétaires !
                </h4><img src="img/Capture%20d&rsquo;écran%202016-03-10%20à%2018.27.40.png" class="img-responsive" />
            </div>
                <div class="col-sm-3">
                    <h4 class="mg-sm ">
                        Avec nous, la propriété
                    </h4>
                    <h3 class="mg-clear ">
                        <strong>est faite pour</strong>
                    </h3>
                    <h1 class=" mg-sm">
                        <strong>VOUS !</strong>
                    </h1>
                    <p class="mg-md">
                        Notre vocation est de permettre au plus grand nombre de devenir propriétaire. Notre souci, vous proposer la qualitéau meilleur prix.<br />Notre engagement, vous accompagner tout au long de votre projet.
                    </p>
                    <div class="text-center">
                        <a href="index.html" class="btn  btn-maroon-x11">Je veux en savoir plus &gt;</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="img/Calque3.png" height="300" />
                </div>
        </div>
    </div>
</div>
<!-- Reseaux sociaux - Fin -->

<!-- Newsletter -->
<div class="bloc l-bloc bgc-white" id="bloc-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">

                <h3 class="mg-md text-right tc-light-slate-gray">
                    <strong>Inscrivez-vous à la newsletter</strong>
                </h3>
                <%= form_tag(controller: "newsletters", action: "create", method: "post") do %>
                <div class="form-group">
                    <%= text_field_tag 'newsletter[email]', "Email", class:"form-control" %>
                </div>
            </div>
            <div class="row">
                <%= submit_tag "Souscrire", class:"btn   btn-lg pull-right btn-sq btn-light-slate-gray"  %>
                <% end %>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                <h3 class="mg-md text-left tc-light-slate-gray">
                    <strong>Parrainez un proche</strong>
                </h3>
                <p class="text-w-md mg-clear">
                    Parlez d&rsquo;expensiel promotion autour de vous
                </p>
                </div>
                <div class="row">
                    <a href="index.html" class="btn   btn-lg btn-sq btn-light-slate-gray pull-left">En savoir plus &gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%= modal_dialog id: "modal",
header: { show_close: true, dismiss: 'modal' },
body:   { content: f },
footer: { content: content_tag(:button, 'Save', class: 'btn') } %>
