<p id="notice"><%= notice %></p>

<p>
  <strong>Civilite:</strong>
  <%= @callback.civilite %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @callback.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @callback.prenom %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @callback.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @callback.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @callback.time %>
</p>

<%= link_to 'Edit', edit_callback_path(@callback) %> |
<%= link_to 'Back', callbacks_path %>
