<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @lot.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lot.type %>
</p>

<p>
  <strong>Typo:</strong>
  <%= @lot.typo %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @lot.surface %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @lot.parking %>
</p>

<p>
  <strong>Cave:</strong>
  <%= @lot.cave %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
