<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image.image %>
</p>

<p>
  <strong>Program:</strong>
  <%= @image.program_id %>
</p>

<p>
  <strong>Carroussel:</strong>
  <%= @image.carroussel %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
